@import '~normalize.css';
@import 'font.css';
@import 'buttons.css';
@import 'paciente-list.css';
@import 'paciente.css';
@import 'exame-list.css';
@import 'paciente-edit.css';

*, *::before, *::after {
  font-family: Gotham Rounded, sans-serif;
}

html {
  font-size: 25px;
}

body {
  padding: 0;
  margin: 0;
}

.mr-1 {
  margin-right: 5px;
}